header {
    height: 130px;
    background-color: #85CDF5;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 270px;
    background-color: #333333;
}

#footerLogo{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerLogo p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fafafa;

}

#footerInfo {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerInfo p{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: #fafafa;
}

#quemSomos {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #DEB959;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #353535;
    text-decoration: none;
}

#quemSomos:hover {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #353535;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    text-decoration: none;
    border-color: #DEB959;
}

#mapa {
    padding-top: 50px;
}


#quemSomos a{
    text-decoration: none;
    
}

#quemSomos a:hover{
    color: #DEB959;
}



header nav{
    display: flex;
    justify-content: space-around;
}


.headerText{
    position: relative;
    top: 50px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
}

#logo {
    position: relative;
    top: 10px;
}

#adcionarLobinhos {
    margin-top: 100px;
    margin-left: 200px;
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #333333;
    box-sizing: border-box;
    margin-bottom: 70px;
}

#botaoEnviar {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    color: #fafafa; 
    background: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#botaoEnviar:hover {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    color: #2C5680; 
    background: #fafafa;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.descInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.descInfo h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;

    margin-right: 50px;
    
    color: #000000;
}

.formInfo {
    display: flex;
    align-items: initial;
    justify-content: baseline;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#nomeLobo {
    width: 400px;
}

#descLobo {
    width: 400px;
    height: 300px;
}

#fotoLobo {
    width: 400px;
}


h1{
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
    text-align: center;

    color: #333;
}

