header {
    height: 130px;
    background-color: #85CDF5;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 270px;
    background-color: #333333;
}

#footerLogo{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerLogo p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fafafa;

}

#footerInfo {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerInfo p{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: #fafafa;
}

#quemSomos {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #DEB959;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #353535;
    text-decoration: none;
}

#quemSomos:hover {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #353535;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    text-decoration: none;
    border-color: #DEB959;
}

#mapa {
    padding-top: 50px;
}


#quemSomos a{
    text-decoration: none;
    
}

#quemSomos a:hover{
    color: #DEB959;
}



header nav{
    display: flex;
    justify-content: space-around;
}


.headerText{
    position: relative;
    top: 50px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
}

#logo {
    position: relative;
    top: 10px;
}

#adotarLobo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nomeFoto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#containerCirculo {
    margin-bottom: 70px;
    margin-top: 70px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

#containerCirculo img {
    border-radius: 100%;
    bottom: 50px;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

#nomeShow {
    padding-bottom: 150px;
    padding-right: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;

    color: #333;
}

#idLobo {
    padding-bottom: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #333;
}

#guardiao {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#guardiaoNome {
    display: flex;
    justify-content: space-around;
}
#cabe {
    display: flex;
    justify-content: space-between;
}

h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    color: #333;
}

#emailGuardiao h4 {
    margin-top: 50px;
}

#emailGuardiao input{
    margin-bottom: 40px;
    width: 350px;
}

#butAdotar {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #fafafa;
    background: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#butAdotar:hover {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #2C5680;
    background: #fafafa;
    border: 1px solid #333333;
    box-sizing: border-box;
}
