header {
    height: 130px;
    background-color: #85CDF5;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 270px;
    background-color: #333333;
}

#footerLogo{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerLogo p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fafafa;

}

#footerInfo {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerInfo p{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: #fafafa;
}

#quemSomos {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #DEB959;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #353535;
    text-decoration: none;
}

#quemSomos:hover {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #353535;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    text-decoration: none;
    border-color: #DEB959;
}

#mapa {
    padding-top: 50px;
}


#quemSomos a{
    text-decoration: none;
    
}

#quemSomos a:hover{
    color: #DEB959;
}


header nav{
    display: flex;
    justify-content: space-around;
}


.headerText{
    position: relative;
    top: 50px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
}

#barraPesquisa {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pata {
    top: 196px;
    position: absolute;
    left: 327px;
}

#lupa {
    position: absolute;
    left: 325px;
}

#botaoBarra {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    border: 0px;
    background-color: #DEB959;
    color: #fafafa;
}

#botaoBarra:hover {
    text-decoration: none;
    padding: 5px 5px 5px 5px;;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: center;
    border: 0px;
    background-color: #fafafa;
    color: #DEB959;
}
#botaoBarra:active {
    transition: 0.5s;
    border-radius: 30%;
    text-decoration: none;
    padding: 3px 3px 3px 3px;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    align-items: center;
    border: 0px;
    background-color: #fafafa;
    color: #DEB959;
}

#estiloBarra{
    width: 600px;
    height: 40px;
    border: 1px solid #333333;
    box-sizing: border-box;
}

#logo {
    position: relative;
    top: 10px;
}

#lobos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaLobos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemExemplo {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.infoExemplo {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkAdotar {
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    border: 0px;
    background-color: #DEB959;
    color: #fafafa;
}

.linkAdotar:hover {
    text-decoration: none;
    padding: 5px 5px 5px 5px;;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    align-items: center;
    border: 0px;
    background-color: #fafafa;
    color: #DEB959;
}
.linkAdotar:active {
    transition: 0.5s;
    border-radius: 30%;
    text-decoration: none;
    padding: 3px 3px 3px 3px;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    align-items: center;
    border: 0px;
    background-color: #fafafa;
    color: #DEB959;
}

.container1{
    
    background-color: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: #2C5680;

}

.container1 img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.nomeExemplo1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #333333;
}

.idadeExemplo1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.textoExemplo1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #333333;
}

.container2{
    background-color: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

.container2 img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.nomeExemplo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #333333;
}

.idadeExemplo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

.textoExemplo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #333333;
}
