header {
    height: 130px;
    background-color: #85CDF5;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 270px;
    background-color: #333333;
}

#footerLogo{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerLogo p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fafafa;

}

#footerInfo {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerInfo p{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: #fafafa;
}

#quemSomos {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #DEB959;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #353535;
    text-decoration: none;
}

#quemSomos:hover {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #353535;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    text-decoration: none;
    border-color: #DEB959;
}

#mapa {
    padding-top: 50px;
}


#quemSomos a{
    text-decoration: none;
    
}

#quemSomos a:hover{
    color: #DEB959;
}



header nav{
    display: flex;
    justify-content: space-around;
}


.headerText{
    position: relative;
    top: 50px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
}

#logo {
    position: relative;
    top: 10px;
}

#slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(images/image.png);
}

#slide h1{
    padding-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 130px;
    text-align: center;
    color: #fafafa;
}

#slide h3{
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 25px;
    color: #fafafa;
    text-align: center;
}

#slideLine {
    width: 200px;
    transition: 1s;
    margin-top: 10px;
    height: 5px;
    background-color: #fafafa;
}

#slideLine:hover {
    width: 680px;
    transition: 2s;
    height: 5px;
    background-color: #fafafa;
}

#stars{
    display: flex;
    justify-content: center;
}

#stars img{
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 50px;
}

#sobre {
    background-color: #2C5680;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sobre h2{
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
    text-align: center;
}

#sobre p {
    padding-bottom: 60px;
    padding-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #fafafa;
}

#valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
}

h2 {
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
}

#listaValores {
    display: flex;
    justify-content: space-around;
}

.circulo{
    height: 180px;
    width: 180px;
    background-color: #fafafa;
    border-radius: 50%;
  }

.itensValores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-top: 30px;
}

.itensValores img {
    position: absolute;
    padding-top: 20px;
}

.itensValores h3{

    color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 46px;
    text-align: center;
    padding-top: 20px;
}

.itensValores p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 20px;
    color: #fafafa;
    text-align: center;
    padding-bottom: 50px;
}

#exemplos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#itemExemplo1 {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

}

#itemExemplo2 {
    display: flex;
    justify-content: space-around;

}

#containerMaior{
    
    background-color: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: #2C5680;

}

#ContainerMaior2{
    
    background-color: #2C5680;
    border: 4px solid #333333;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}

#container {
    width: 300px;
    height: 300px;
}

#container2 {
    width: 300px;
    height: 300px;
}

#container img {
    bottom: 50px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

#container2 img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

.infoExemplo {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nomeExemplo1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #333333;
}

#idadeExemplo1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

#textoExemplo1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #333333;
}

#nomeExemplo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #333333;
}

#idadeExemplo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}

#textoExemplo2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #333333;
}


