header {
    height: 130px;
    background-color: #85CDF5;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 270px;
    background-color: #333333;
}

#footerLogo{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerLogo p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fafafa;

}

#footerInfo {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerInfo p{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: #fafafa;
}

#quemSomos {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #DEB959;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    color: #353535;
    text-decoration: none;
}

#quemSomos:hover {
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    background-color: #353535;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 20px;
    text-decoration: none;
    border-color: #DEB959;
}

#mapa {
    padding-top: 50px;
}


#quemSomos a{
    text-decoration: none;
    
}

#quemSomos a:hover{
    color: #DEB959;
}



header nav{
    display: flex;
    justify-content: space-around;
}


.headerText{
    position: relative;
    top: 50px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
}

#logo {
    position: relative;
    top: 10px;
}

#mostrarLobo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nomeShow {
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #333;
}

#show {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

}

#fotoEBotao {
    display: flex;
    flex-direction: column;
}

.container {
    width: 300px;
    height: 300px;
}

.container img {
    bottom: 50px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}

#botao {
    display: flex;
    justify-content: space-around;
}

#adotar {
    text-decoration: none;
    border: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fafafa;
    background: #7AAC3A;
}
#adotar:hover {
    text-decoration: none;
    border: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7AAC3A;
    background: #fafafa;
}

#excluir {
    border: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #fafafa;
    background: #DE5959;
}

#excluir:hover {
    border: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #DE5959;
    background: #fafafa;
}

#showInfo {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

#showInfo p {
    margin-top: 20px;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
        /* or 83% */


    color: #333;
}



